{% extends 'base.html' %}

{% block title %}Contacto - Propiedades{% endblock %}

{% block content %}
<div class="container form-container">
    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o consulta, ¡no dudes en comunicarte con nosotros!</p>
    <h3>Opciones de Contacto</h3>
    <ul>
        <li><strong>WhatsApp:</strong> <a href="https://wa.me/123456789" target="_blank">Chatea con nosotros</a></li>
        <li><strong>Correo Electrónico:</strong> <a href="mailto:contacto@miempresa.com">contacto@miempresa.com</a></li>
    </ul>
</div>
{% endblock %}
